// components _checkbox start
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  
  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}


/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px; //25px;
  width: 22px;  //25px;
  //   background-color: #eee;
  border-radius: 2px;
  border: 2px solid #121212;
  
  /* Create the checkmark/indicator (hidden when not checked) */
  &::after {
    content: "";
    position: absolute;
    display: none;
    
    /* Style the checkmark/indicator */
    left: 6px;  //9px;
    top: 0px;  //5px;
    width: 8px;  //5px;  
    height: 15px;   //10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #121212;   // #2196F3;
}


/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

// components _checkbox end
